@import 'claymorphism-css/dist/clay.css ';
/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 6.85rem;
  --grid-column: span 2;
  --grid-template-column: 1fr;
  --grid-template-row: max-content 1fr;

  --fg: var(--clay-background);
  --shade1: hsla(var(--hue-color), 69%, 61%, 0.7);
  --shade2: hsla(var(--hue-color), 30%, 53%, 0.3);
  --shade3: hsla(var(--hue-color), 69%, 61%, 0.5);
  --shade4: hsla(var(--hue-color), 30%, 53%, 0.1);
  --dur1: 1s;
  --dur2: 6s;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 100%, 82%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --white: 100, 100%, 100%;

  --clay-background: hsla(var(--white), 0.4);
  --clay-boxShadow: 0 20px 20px 0 hsla(var(--hue-color), 69%, 61%, 0.5),
    inset 0 2px 4px 0 hsla(var(--hue-color), 30%, 53%, 0.3);
  --red: #f87171;
  --green: #4ade80;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --padding-big: 2rem;
  --padding-medium: 1.25rem;
  --padding-small: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --grid-template-column: 1fr minmax(0, max-content);
    --grid-column: span 1;
    --padding-big: 4rem;
    --padding-medium: 2.5rem;
    --padding-small: 1rem;
  }
}

/*========== Variables Dark theme ==========*/
[data-theme='dark'] {
  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --black: 0, 0%, 0%;
  --clay-background: hsla(var(--black), 0.05);
  --clay-boxShadow: 0 8px 20px 0 hsla(var(--black), 0.35),
    inset 0 8px 10px 0 hsla(var(--black), 0.25);
  --red: #ef4444;
  --green: #22c55e;

  --fg: #e3e4e8;
  --shade1: #23252a;
  --shade2: #3e424c;
  --shade3: #4a4e5a;
  --shade4: #686e7e;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clay {
  backdrop-filter: blur(15px);
  border-radius: 30px;
  background: var(--clay-background);
  box-shadow: var(--clay-boxShadow);
  position: relative;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s cubic-bezier(0.47, 3.06, 0.73, 1);
  }
}

.App-header {
  grid-column: span 2;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: grid;
  grid-template-columns: var(--grid-template-column);
  grid-template-rows: var(--grid-template-row);
  row-gap: var(--padding-medium);
  background-color: var(--body-color);
  padding-inline: var(--padding-big);
  padding-bottom: 3rem;
  min-height: 100vh;
}

.main-nav {
  display: flex;
  flex-grow: 1;
  padding: var(--padding-small) var(--padding-big);
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.85rem;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.logo {
  width: 60px;
  height: 60px;
  -webkit-mask: url(/assets/images/logo.svg) no-repeat center;
  mask: url(/assets/images/logo.svg) no-repeat center;
}

.stroke {
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: #111827;
  -moz-text-stroke-color: #111827;
  color: transparent;
}

.shadow {
  text-shadow: 6px 6px var(--body-color);
}

.stroke-shadow {
  color: var(--first-color-lighter);
  text-shadow: -2px 0 #111827, 0 -2px #111827, 2px 0 #111827, 0 2px #111827,
    2px 2px #111827, -2px -2px #111827, -2px 2px #111827, 2px -2px #111827,
    6px 6px var(--first-color-alt);
}

.title {
  font-size: var(--h1-font-size);
  color: var(--first-color-lighter);
  font-weight: 900;
  text-shadow: -0.0075em 0.0075em 0 var(--first-color-alt),
    0.005em 0.005em 0 var(--first-color-alt),
    0.01em 0.01em 0 var(--first-color-alt),
    0.015em 0.015em var(--first-color-alt),
    0.02em 0.02em 0 var(--first-color-alt),
    0.025em 0.025em 0 var(--first-color-alt),
    0.03em 0.03em 0 var(--first-color-alt),
    0.035em 0.035em 0 var(--first-color-alt);
}

.question__card {
  padding: var(--padding-small) var(--padding-big);
  grid-column: var(--grid-column);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start__card {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: minmax(min-content, max-content) 200px;
  place-items: center;
}

.user__info-form {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: flex-end;
  grid-column: span 2;
}

.user__detail-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.user__input {
  width: 20rem;
  height: 3.5rem;
  border: none;
  padding: 1.5rem;
  color: var(--title-color);
  font-size: var(--h3-font-size);
  background: var(--clay-background);
}
.user__input:focus {
  outline: none;
}

.user__name {
  color: var(--first-color-lighter);
  font-size: var(--h1-font-size);
}

.single__question-wrapper,
.score__card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

.question__image {
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.question__card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 2rem;
  position: relative;
  width: 100%;
}

.pagination__holder {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.pagination__button,
.start__btn,
.play__again,
.user button {
  border-radius: 10px;
  padding: var(--padding-small) var(--padding-medium);
  color: var(--title-color);
  border: none;
  cursor: pointer;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

.user button {
  color: var(--first-color);
  padding: var(--padding-small);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, var(--first-color-lighter), var(--first-color-alt));
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px var(--clay-background) inset;
}

.user button:hover {
  box-shadow: none;
  color: white;
}

.colors__toggle {
  width: 2rem;
  height: 2rem;
  background: var(--clay-background, rgba(0, 0, 0, 0.005));
  border-radius: var(--clay-border-radius, 32px);
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset
      var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2));
}

.theme__colors {
  display: flex;
  gap: 1.25rem;
  position: absolute;
  bottom: -140px;
  right: 20px;
  background-color: var(--clay-background);
  padding: var(--padding-medium);
  border-radius: 20px;
  z-index: 1;
}

.colors {
  width: 3rem;
  aspect-ratio: 1;
  background: var(--clay-background, rgba(0, 0, 0, 0.005));
  border-radius: var(--clay-border-radius, 32px);
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset
      var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2));
}

.pagination__button:hover,
.pagination__button:active {
  outline: none;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading svg {
  max-width: 25em;
  border-radius: 3px;
  /* box-shadow: 2px 2px 5px #000;
  background: #111; */
  fill: none;
  stroke: #222;
  stroke-linecap: round;
  stroke-width: 8%;
}

use {
  stroke: #fff;
  animation: a 2s linear infinite;
}

@keyframes a {
  to {
    stroke-dashoffset: 0px;
  }
}

.sidebar__wrapper {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  position: sticky;
  top: 2rem;
}

.sidebar__header {
  height: 2.5rem;
  padding: 0.5rem 0.85rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  gap: 5rem;
  margin-block: 1.5rem;
}

.answer__icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer__icon svg {
  fill: var(--first-color-alt);
}

.answer__icon:disabled svg {
  fill: var(--first-color-lighter);
}

.sidebar__icon > svg {
  stroke: var(--first-color-second);
  font-size: 1.5rem;
}

.sidebar__content {
  max-width: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.5rem;
}

.sidebar__pagination-button {
  border-radius: 50%;
  color: var(--title-color);
  font-weight: bold;
  font-size: var(--normal-font-size);
  display: flex;
  width: 50px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.sidebar__pagination-button:focus {
  outline: none;
}

button {
  font-size: calc(10px + 2vmin);
}

.holder {
  width: 150px;
  padding: 0.65rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

select {
  border: none;
  background: transparent;
  color: var(--title-color);
  width: 90%;
}

select:focus-visible {
  outline: none;
  border: none;
}

select:focus {
  outline: none;
}

select:focus > option {
  background: var(--body-color);
  opacity: 0.8;
  padding: 5px 10px;
}

select > option {
  border-radius: 8px 8px 0 0;
}

.question__title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.options__list {
  padding: var(--padding-small) var(--padding-big);
  display: flex;
  gap: var(--padding-small);
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
}

.option {
  padding-block: var(--padding-small);
  padding-inline: 1rem;
  border-radius: 10px;
  max-width: 100%;
  overflow-wrap: break-word;
  color: var(--title-color);
  margin: auto 0;
  font-size: var(--h3-font-size);
}

.option:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  cursor: pointer;
}

.hidden {
  display: none !important;
}
.options__list > .success,
.sidebar__pagination-button.success {
  background-color: var(--green);
}

.options__list > .error,
.sidebar__pagination-button.error {
  background-color: var(--red);
}

.answer {
  display: flex;
  flex-grow: 1;
  padding: 1rem 2rem;
  bottom: 0;
  left: 0;
  width: 75%;
}

.answer__detail {
  line-height: 1.8;
  word-spacing: 2px;
  padding: var(--padding-medium);
  position: absolute;
  width: 90%;
  color: var(--title-color);
  background-color: var(--body-color);
}
.answer__detail > h3 {
  color: var(--title-color);
}

.answer__detail > p {
  margin-bottom: 10px;
}
.answer__detail p > code,
.option > code {
  background: rgba(135, 131, 120, 0.15);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  font-size: 85%;
  tab-size: 2;
  color: #eb5757;
  margin-inline: 0.5rem;
}

.option.error code,
.option.success code {
  background: #ccc;
  color: #222;
}

.options__list li:active code {
  background: #ccc;
  color: #222;
}

.question {
  padding-bottom: 3rem;
  font-family: 'Poppins', serif;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.label-text {
  margin-left: 16px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  overflow: hidden;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

.score__card h3,
.no-questions {
  font-size: 2.5rem;
}

.best__scores {
  padding: 2rem;
  min-width: 20rem;
}
.scores {
  display: flex;
  justify-content: space-around;
  font-size: var(--h2-font-size);
}

@media screen and (min-width: 968px) {
  .App {
    column-gap: 2.5rem;
    row-gap: var(--padding-medium);
    min-height: 100vh;
  }

  .title {
    font-size: var(--big-font-size);
    text-transform: Uppercase;
    color: var(--first-color-lighter);
    font-weight: 900;
    text-shadow: -0.0075em 0.0075em 0 var(--first-color-alt),
      0.005em 0.005em 0 var(--first-color-alt),
      0.01em 0.01em 0 var(--first-color-alt),
      0.015em 0.015em var(--first-color-alt),
      0.02em 0.02em 0 var(--first-color-alt),
      0.025em 0.025em 0 var(--first-color-alt),
      0.03em 0.03em 0 var(--first-color-alt),
      0.035em 0.035em 0 var(--first-color-alt);
  }

  .user__detail-form {
    flex-direction: row;
    gap: 1.5rem;
  }

  select {
    font-size: var(--h3-font-size);
  }
  .answer__detail {
    width: 70%;
    min-height: 15rem;
    position: absolute;
    bottom: 15%;
  }

  .score-card h3 {
    font-size: var(--big-font-size);
  }

  .options__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .option {
    max-inline-size: 22rem;
    font-size: var(--normal-font-size);
  }

  .question__title {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 500px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
  }

  body {
    font-size: var(--smaller-font-size);
  }
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.preloader {
  /* animation: largePopOut var(--dur1) linear; */
  /* border-radius: 50%; */
  /* box-shadow: var(--clay-boxShadow); */
  position: relative;
  width: 12em;
  height: 12em;
  background: transparent;
}
.preloader__square {
  animation: smallPopOut1 var(--dur1) linear,
    popInOut var(--dur2) var(--dur1) linear infinite;
  border-radius: 0.5em;
  box-shadow: var(--clay-boxShadow);
  position: absolute;
  top: 2.5em;
  left: 2.5em;
  width: 3em;
  height: 3em;
}
.preloader__square:nth-child(n + 2):nth-child(-n + 3) {
  left: 6.5em;
}
.preloader__square:nth-child(n + 3) {
  top: 6.5em;
}
.preloader__square:nth-child(2) {
  animation: smallPopOut2 var(--dur1) linear,
    move2 var(--dur2) var(--dur1) linear infinite;
}
.preloader__square:nth-child(3) {
  animation: smallPopOut3 var(--dur1) linear,
    move3 var(--dur2) var(--dur1) linear infinite;
}
.preloader__square:nth-child(4) {
  animation: smallPopOut4 var(--dur1) linear,
    move4 var(--dur2) var(--dur1) linear infinite;
}
.status {
  animation: fadeIn var(--dur1) linear forwards;
  text-align: center;
  font-size: var(--normal-font-size);
}
.status__dot {
  animation: appear1 var(--dur1) var(--dur1) steps(1, start) infinite;
  display: inline-block;
}
.status__dot:nth-child(2) {
  animation: appear2 var(--dur1) var(--dur1) steps(1, start) infinite;
}
.status__dot:nth-child(3) {
  animation: appear3 var(--dur1) var(--dur1) steps(1, start) infinite;
}

/* Animations */
@keyframes largePopOut {
  from,
  20% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  40% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset, 2em 2em 2em var(--shade1),
      -2em -2em 4em var(--shade4);
  }
  60%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset, 1em 1em 2em var(--shade1),
      -1em -1em 2em var(--shade4);
  }
}
@keyframes smallPopOut1 {
  from,
  40% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  60% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  80%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes smallPopOut2 {
  from,
  45% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  65% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  85%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes smallPopOut3 {
  from,
  50% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  70% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  90%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes smallPopOut4 {
  from,
  55% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  75% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  95%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}
@keyframes popInOut {
  from {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(0, 0);
  }
  4% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 0);
  }
  8% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 0);
  }
  12%,
  16% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 0);
  }
  20% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 0);
  }
  24%,
  25% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(4em, 0);
  }
  29% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 0);
  }
  33% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 0);
  }
  37%,
  41% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 4em);
  }
  45% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 4em);
  }
  49%,
  50% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(4em, 4em);
  }
  54% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 4em);
  }
  58% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 4em);
  }
  62%,
  66% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 4em);
  }
  70% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 4em);
  }
  74%,
  75% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(0, 4em);
  }
  79% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 4em);
  }
  83% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 4em);
  }
  87%,
  91% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
      0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 0);
  }
  95% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 0);
  }
  99%,
  to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset,
      -0.15em -0.15em 0.15em var(--shade1) inset,
      0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(0, 0);
  }
}
@keyframes move2 {
  from,
  8% {
    transform: translate(0, 0);
    width: 3em;
    height: 3em;
  }
  12% {
    transform: translate(-4em, 0);
    width: 7em;
    height: 3em;
  }
  16%,
  83% {
    transform: translate(-4em, 0);
    width: 3em;
    height: 3em;
  }
  87% {
    transform: translate(-4em, 0);
    width: 3em;
    height: 7em;
  }
  91%,
  to {
    transform: translate(-4em, 4em);
    width: 3em;
    height: 3em;
  }
}
@keyframes move3 {
  from,
  33% {
    transform: translate(0, 0);
    height: 3em;
  }
  37% {
    transform: translate(0, -4em);
    height: 7em;
  }
  41%,
  to {
    transform: translate(0, -4em);
    height: 3em;
  }
}
@keyframes move4 {
  from,
  58% {
    transform: translate(0, 0);
    width: 3em;
  }
  62% {
    transform: translate(0, 0);
    width: 7em;
  }
  66%,
  to {
    transform: translate(4em, 0);
    width: 3em;
  }
}
@keyframes fadeIn {
  from,
  67% {
    opacity: 0;
  }
  83.3%,
  to {
    opacity: 1;
  }
}
@keyframes appear1 {
  from {
    visibility: hidden;
  }
  33%,
  to {
    visibility: visible;
  }
}
@keyframes appear2 {
  from,
  33% {
    visibility: hidden;
  }
  67%,
  to {
    visibility: visible;
  }
}
@keyframes appear3 {
  from,
  67% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
